<% include ./partials/header %> 

<link rel="stylesheet" href="/stylesheets/login-register.css">

<div class="col-md-6 col-md-offset-3">
    <div class="col-md-12 thumbnail">
        <h2>會員註冊</h2>
        <p><span id="error"></span></p>

        <form name="register" action="/register" onsubmit="return validate()" method="post">
            <div class="input-group">
                <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
                <input type="text" id="registerInfo" class="form-control" name="username" placeholder="ID">
            </div>
            <div class="input-group">
                <span class="input-group-addon"><i class="glyphicon glyphicon-envelope"></i></span>
                <input type="text" id="registerInfo" class="form-control" name="email" placeholder="EMAIL">
            </div>
            <div class="input-group">
                <span class="input-group-addon"><i class="glyphicon glyphicon-lock"></i></span>
                <input type="password" id="registerInfo" class="form-control" name="password" placeholder="PASSWORD">
            </div>
            <button class="btn em" type="submit">註冊</button>
        </form>
    </div>
</div>

<% include ./partials/footer %>